<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.renfest231185" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>RenFest</name>
  <description>&#xD;
        An Ionic Framework and Cordova project.&#xD;
    </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">&#xD;
      Ionic Framework Team&#xD;
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="welcome"/>
  <preference name="SplashScreenDelay" value="5000"/>
  <preference name="auto-hide-splash-screen" value="false"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>