<ion-view title="{{'menu_event' | translate}}">
    <ion-tabs class="tabs-top tabs-background-energized" >

        <ion-tab title="{{'day1' | translate}}"  href="#/app/events/day1/day1">
            <ion-nav-view name="tab-day1"></ion-nav-view>
        </ion-tab>

        <ion-tab title="{{'day2' | translate}}"  href="#/app/events/day2/day2">
            <ion-nav-view name="tab-day2"></ion-nav-view>
        </ion-tab>

        <ion-tab title="{{'day3' | translate}}"  href="#/app/events/day3/day3">
            <ion-nav-view name="tab-day3"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>